<!DOCTYPE html>
<html ng-app="demoapp">
	<head>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/d3/d3.js"></script>
		<script src="../dist/angular-d3-charts.js"></script>
		<script>
				var app = angular.module("demoapp", ['angular-d3-charts']);
				app.controller("DemoController", [
						"$scope", "$http", "$timeout", "$log", function($scope, $http, $timeout, $log) {
						var file = 'data/pie2.json';
						angular.extend($scope, {
							showPie: false,
							togglePie: function() {
								$scope.showPie = !$scope.showPie;

								$timeout(function() {
									if($scope.showPie) {
										$scope.$broadcast('a3pie:redraw-pie');
									}
								}, 100);
							},
							options: {
								innerRadius: 10,
					      showPercent: true,
								pieAnimation: 'normal',
					      x: {
					        key: 'label',
					        show: false
					      },
					      y: {
					        key: 'norefundable',
					        label: 'y'
								},
								legend: {
									type: 'horizontal'
								}
							},

							values: [],

							changeValues: function() {
								$http.get(file = file === 'data/pie2.json'? 'data/pie.json':'data/pie2.json')
									.then(function(res) {
										var data = res.data.filter(function(d) {
							        d.norefundable = d.amount - d.refundable;
							        return (d.norefundable);
							      });
										$scope.values = res.data
									}, function(err) {
										$log.error('Error loading data', err);
									});
							}
						});

						$http.get('data/pie2.json')
							.then(function(res) {
								var data = res.data.filter(function(d) {
					        d.norefundable = d.amount - d.refundable;
					        return (d.norefundable);
					      });
								$scope.values = data
							}, function(err) {
								$log.error('Error loading data', err);
							});
				}]);
		</script>
	</head>
	<body ng-controller="DemoController">
		<a3pie id="pie" width="500px" height="300px" options="options" data="values"
			ng-show="showPie"></a3pie>
		<button ng-click="changeValues()">Change Values</button>
		<button ng-click="togglePie()">Toggle Pie</button>
	</body>
</html>
